*{
    margin: 0;
    padding: 0;
    font-family: monospace;
}
body{
    background: url("../image/bg.webp") no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
body::before {
    content: "";
    height: 100vh;
    width: 100%;
    z-index: 0;
    position: absolute;
    background: #00000059;
}
main{
    background: #fffbfbe6;
    height: fit-content;
    aspect-ratio: 1/1;
    margin: auto;
    border-radius: 25px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.form-header{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.form-header h1 {
    font-size: 3rem;
}
.form-header p {
    font-size: 1.2rem;
    width: 400px;
    margin: auto;
    line-height: 1.5rem;
}

.form-body {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.form-body .field {
    border: #e2e2e2 solid 1px;
    padding: 15px;
    border-radius: 7px;
    color: #717171;
    outline: none;
    transition: box-shadow ease-in-out .3s;
}
.form-body .field:focus {
    box-shadow: 0 0 10px -1px #b3b3b3;
    transition: box-shadow ease-in-out .3s;
}
.form-body .field.empty {
    border: #ff3636 solid 1px;
    box-shadow: 0 0 10px -1px #d78a8a9e;
    transition: box-shadow ease-in-out .3s;
}
.form-body .field.empty:focus {
    box-shadow: 0 0 10px -1px #d78a8a9e;
    transition: box-shadow ease-in-out .3s;
}
.password-box{
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    position: relative;
}
.password-box svg{
    width: 25px;
    height: 25px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    background: #fff;
    padding: 0 0 0 10px;
}
.password-box svg circle{
    transition: cx .5s ease-in-out, opacity .5s ease-in-out;
}
.password-box svg circle.open{
    opacity: 1;
}
.password-box svg circle.close{
    opacity: 0;
}
.password-box svg path{
    transition: d .5s ease-in-out;
}
.password-checkResult {
    text-align: left;
    margin: -10px 0 0 0;
    padding: 0 0 0 15px;
    opacity: 0;
    visibility: hidden;
}
.password-checkResult.low {
    color: red;
    opacity: 1;
    visibility: visible;
}
.password-checkResult.medium {
    color: blue;
    font-weight: bold;
    opacity: 1;
    visibility: visible;
}
.password-checkResult.good {
    color: #00d900;
    opacity: 1;
    visibility: visible;
}
.button {
    color: #000;
    background: #81e666;
    border: none;
    font-size: 1.5rem;
    padding: 15px 5px;
    margin: auto;
    width: 230px;
    border-radius: 15px;
    cursor: pointer;
    transition: background .5s ease-in-out, box-shadow .5s ease-in-out;
}
.button:hover {
    background: #cbff67;
    transition: background .5s ease-in-out, box-shadow .5s ease-in-out;
    box-shadow: 0 0 5px 0px #c3c3c3a1;
}



.modal.show, .modal.showWrong {
    position: absolute;
    width: 500px;
    background: #fff;
    aspect-ratio: 1/1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0px 100vw #00000087;
    opacity: 1;
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: opacity .5s ease-in-out;
}
.closeModal{
    position: absolute;
    width: 20px;
    height: 20px;
    padding: 2px;
    border: 1px solid #00000094;
    box-shadow: 0px 0 2px 0px #06060691;
    background: #ff8c8c;
    top: 25px;
    right: 25px;
    cursor: pointer;
    transition: box-shadow ease-in-out .5s;
}
.closeModal:focus{
    box-shadow: 0px 0 0px 0px #06060691;
    transition: box-shadow ease-in-out .5s;
}
.modal.hide, .modal .true, .modal .false{
    opacity: 0;
    visibility: hidden;
    position: absolute;
}
.modal.hide-exit {
    position: absolute;
    opacity: 0;
    visibility: visible;
    transition: opacity 0.5s ease-in-out;
    width: 500px;
    background: #fff;
    aspect-ratio: 1/1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0px 100vw #00000087;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}
.modal.show .true, .modal.showWrong .false{
    opacity: 1;
    visibility: visible;
    width: 250px;
    transform: scale(1);
    animation: scale-animate .8s ease-in-out 1.5s forwards;
}
.modal.show .true circle, .modal.showWrong circle{
    stroke-dasharray: 32;
    stroke-dashoffset: 32;
    transform: rotateY(180deg) rotateX(180deg);
    animation: stroke-animate 1s ease-in-out forwards;
}
.modal.show .true path, .modal.showWrong .false path{
    stroke-dasharray: 9;
    stroke-dashoffset: 9;
    animation: stroke-animate .8s ease-in-out 1s forwards;
}



@keyframes stroke-animate {
    100%{
        stroke-dashoffset: 0;
    }
}

@keyframes scale-animate {
    50%{
        transform: scale(1.1); 
    }
    100%{
        transform: scale(1);
    }
    
}
